In [19]:
%matplotlib inline

import os
import pandas as pd 
import numpy as np
import seaborn as sns
import datetime as dt
import matplotlib as mpl
from matplotlib import pyplot as plt
from xgboost import plot_importance
from sklearn.metrics import roc_auc_score
from collections import Counter
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import StratifiedKFold
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from xgboost import XGBClassifier
from IPython.display import display
import warnings
warnings.filterwarnings('ignore')


mpl.rc("figure", figsize=(100, 70))
mpl.rcParams.update({'font.size':25})

pd.set_option('display.max_columns', 500)

## Loading both predictions

In [20]:
xgb_pred = pd.read_csv("../data/submissions/submission_after_xgb_modeling_final.csv")
xgb_pred.redemption_status.describe()

count    5.022600e+04
mean     3.349414e-03
std      4.139968e-02
min      2.710388e-18
25%      9.786470e-11
50%      4.249922e-09
75%      5.438271e-07
max      9.994196e-01
Name: redemption_status, dtype: float64

In [21]:
xgb_pred[xgb_pred.redemption_status > 0.5]

           id  redemption_status
667      1704           0.773372
2085     5224           0.874832
2098     5268           0.641584
2214     5539           0.588712
2459     6139           0.747347
...       ...                ...
46605  119197           0.961957
46742  119514           0.575438
47770  122161           0.674259
48146  123136           0.815890
50033  128114           0.858086

[119 rows x 2 columns]

In [5]:
lgbm_pred = pd.read_csv("../data/submissions/submission_after_modeling_lgb_final.csv")

lgbm_pred.redemption_status.describe()

count    5.022600e+04
mean     1.388587e-03
std      3.237690e-02
min      0.000000e+00
25%      4.991929e-22
50%      1.907606e-17
75%      4.854364e-13
max      1.000000e+00
Name: redemption_status, dtype: float64

In [23]:
lgbm_pred[lgbm_pred.redemption_status > 0.5]

           id  redemption_status
667      1704           0.863877
2645     6577           0.726880
3246     8054           0.905594
4879    12290           0.911047
5600    14135           0.640259
6624    16827           0.923843
6886    17480           0.717150
8255    20956           0.830398
8592    21781           0.927687
8721    22145           0.761658
9303    23646           0.972211
11020   28127           0.959176
11337   28929           1.000000
12297   31323           0.999844
13182   33652           0.999992
14940   38314           0.631793
16699   42778           0.915518
16970   43441           0.995480
17570   44996           1.000000
17611   45132           1.000000
18091   46406           0.919159
18431   47263           0.701245
20277   51998           0.928945
20613   52850           0.959172
22069   56591           0.522897
23042   59037           0.998945
24545   62789           1.000000
24636   63002           0.720993
25007   64018           0.996495
25359   64856           1.000000
26650   68222           0.884908
27094   69358           1.000000
28067   71869           1.000000
28365   72634           1.000000
28403   72744           0.999915
28515   73045           1.000000
29532   75703           0.960871
31339   80327           0.975792
32083   82203           0.600672
33203   84995           0.717849
33275   85180           0.886262
33377   85427           1.000000
33844   86554           1.000000
33969   86821           0.566248
34554   88289           1.000000
35072   89612           1.000000
35505   90650           0.730436
36439   92991           0.995480
37712   96323           0.915897
39966  102035           0.582412
40043  102209           0.999992
42056  107586           1.000000
43529  111353           1.000000
47408  121218           0.937187
47915  122570           0.743492
48146  123136           0.988475
48234  123366           0.964587
48726  124699           1.000000
49150  125828           0.784773

In [7]:
xgb_pred

           id  redemption_status
0           3       4.930832e-02
1           4       1.216368e-05
2           5       1.059312e-06
3           8       2.008840e-11
4          10       1.397163e-08
...       ...                ...
50221  128584       1.127315e-06
50222  128588       4.976915e-04
50223  128591       9.088521e-05
50224  128593       8.021926e-03
50225  128594       6.408305e-09

[50226 rows x 2 columns]

In [10]:
ensembled = xgb_pred
ensembled['lgbm_redemption_status'] = lgbm_pred.redemption_status
ensembled

           id  redemption_status  lgbm_redemption_status
0           3       4.930832e-02            4.836949e-05
1           4       1.216368e-05            1.967550e-11
2           5       1.059312e-06            2.130820e-15
3           8       2.008840e-11            7.601448e-23
4          10       1.397163e-08            1.066333e-13
...       ...                ...                     ...
50221  128584       1.127315e-06            1.955858e-11
50222  128588       4.976915e-04            1.978080e-08
50223  128591       9.088521e-05            5.788444e-10
50224  128593       8.021926e-03            1.150258e-08
50225  128594       6.408305e-09            5.130972e-22

[50226 rows x 3 columns]

In [12]:
ensembled[(ensembled.redemption_status > 0.5) & (ensembled.lgbm_redemption_status < 0.5)]

           id  redemption_status  lgbm_redemption_status
2085     5224           0.874832                0.001815
2098     5268           0.641584                0.000003
2214     5539           0.588712                0.075924
2459     6139           0.747347                0.000390
3667     9182           0.975472                0.150026
...       ...                ...                     ...
46370  118541           0.628707                0.006113
46605  119197           0.961957                0.415723
46742  119514           0.575438                0.014614
47770  122161           0.674259                0.380603
50033  128114           0.858086                0.251581

[83 rows x 3 columns]

In [13]:
ensembled[(ensembled.redemption_status < 0.5) & (ensembled.lgbm_redemption_status > 0.5)]

           id  redemption_status  lgbm_redemption_status
9303    23646       3.149557e-03                0.972211
11337   28929       1.322844e-03                1.000000
16699   42778       1.816256e-02                0.915518
17570   44996       2.020349e-05                1.000000
17611   45132       1.099102e-02                1.000000
23042   59037       3.014310e-01                0.998945
24545   62789       1.740025e-07                1.000000
27094   69358       5.853690e-08                1.000000
28365   72634       2.902280e-03                1.000000
28515   73045       3.329580e-04                1.000000
33377   85427       3.741365e-05                1.000000
33844   86554       6.658540e-05                1.000000
33969   86821       1.307098e-04                0.566248
34554   88289       1.279248e-04                1.000000
35072   89612       4.906798e-03                1.000000
39966  102035       3.019565e-01                0.582412
42056  107586       6.581607e-08                1.000000
43529  111353       4.603858e-05                1.000000
47408  121218       4.387983e-03                0.937187
47915  122570       3.811815e-01                0.743492
48234  123366       3.163906e-03                0.964587
48726  124699       3.866229e-01                1.000000
49150  125828       3.207931e-01                0.784773

In [14]:
ensembled['redemption_status'] = 0.5*ensembled['redemption_status'] +0.5*ensembled['lgbm_redemption_status'] 
ensembled

           id  redemption_status  lgbm_redemption_status
0           3       2.467835e-02            4.836949e-05
1           4       6.081848e-06            1.967550e-11
2           5       5.296561e-07            2.130820e-15
3           8       1.004420e-11            7.601448e-23
4          10       6.985868e-09            1.066333e-13
...       ...                ...                     ...
50221  128584       5.636671e-07            1.955858e-11
50222  128588       2.488556e-04            1.978080e-08
50223  128591       4.544289e-05            5.788444e-10
50224  128593       4.010969e-03            1.150258e-08
50225  128594       3.204152e-09            5.130972e-22

[50226 rows x 3 columns]

In [15]:
ensembled.drop(columns=['lgbm_redemption_status'], inplace=True)
ensembled

           id  redemption_status
0           3       2.467835e-02
1           4       6.081848e-06
2           5       5.296561e-07
3           8       1.004420e-11
4          10       6.985868e-09
...       ...                ...
50221  128584       5.636671e-07
50222  128588       2.488556e-04
50223  128591       4.544289e-05
50224  128593       4.010969e-03
50225  128594       3.204152e-09

[50226 rows x 2 columns]

## Saving the solution

In [16]:
c='final'
name = "../data/submissions/submission_after_ensembling_lgb_xgb_"+str(c)+".csv"
ensembled.to_csv( name,index=False)
print("File saved!")

File saved!

In [17]:
ensembled[ensembled.redemption_status > 0.5]

           id  redemption_status
667      1704           0.818625
2645     6577           0.685167
3246     8054           0.875424
3667     9182           0.562749
4879    12290           0.947359
...       ...                ...
47915  122570           0.562337
48146  123136           0.902183
48726  124699           0.693311
49150  125828           0.552783
50033  128114           0.554833

[72 rows x 2 columns]